@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}