@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@font-face {
    font-family: 'interDisplay';
    src: url('assets/InterDisplay.ttf') format('truetype');
  }

:root{
    --text-color: #0B1627;
    --font-size: 1px;
}
body{
    font-family: 'interDisplay', sans-serif;
}
::selection{
    background-color: #FF8F24;
    color: #ffffff;
    border-radius: 4px;
}
.big-header{
    font-size: calc(var(--font-size) * 110);
    line-height: 1;
    color: var(--text-color);
    margin: 10vw;
}
.text-section{
    font-size: calc(var(--font-size) * 35);
    line-height: 1.3;
    color: var(--text-color);
    margin: 20vw 10vw;
    gap: 80px;
    display: flex;
}
.text-16{
    font-size: calc(var(--font-size) * 16);
}
.video-section{
    width: calc(100% - 60px);
    background-color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
}
.small-logo{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: calc(var(--font-size) * 20);
    margin: 40px 6px;
}
.video{
    width: 100%;
}
.video-like{
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    justify-content: center;
}