@font-face {
    font-family: 'interDisplay';
    src: url('assets/InterDisplay.ttf') format('truetype');
  }

  :root{
    --text-color: #0B1627;
  }
body{
    font-size: 1px;
    font-family: 'interDisplay', sans-serif;
}
.big-header{
    font-size: 110em;
    line-height: 1;
    color: var(--text-color);
    margin: 10vw;
}
.video-section{
    width: calc(100% - 60px);
    height: 60vw;
    background-color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
}
.small-logo{
    background-image: url(assets/anodot-logo.svg);
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 2 / 3;
    margin-top: 40px;
}
.video{
    width: 100%;
}
section{
    display: flex;
    justify-content: center;
}