@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "interDisplay";
    src: url("font/InterDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

:root{
    --text-color: #0B1627;
    --font-size: 1px;
}
body{
    font-family: 'interDisplay', sans-serif;
    margin: 0;
}
::selection{
    background-color: #2671FF;
    color: #FF8F24;
}
.big-header{
    font-size: calc(var(--font-size) * 110);
    line-height: 1;
    color: var(--text-color);
    margin: 10vw;
}
.text-section{
    font-size: calc(var(--font-size) * 35);
    line-height: 1.3;
    color: var(--text-color);
    margin: 20vw 10vw;
    gap: 80px;
    display: flex;
}
.text-16{
    font-size: calc(var(--font-size) * 16);
}
.video-section{
    width: calc(100% - 60px);
    border-radius: 10px;
    overflow: hidden;
}
.full-width{
    width: 100vw;
}
.small-logo{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: calc(var(--font-size) * 20);
    margin: 40px 6px;
}
.video{
    width: 100%;
    display: block;
}
.video-like{
    width: 100%;
    height: 100%;
}
.video-flex{
    display: flex;
    justify-content: center;
}
.video-flex .video{
    width: 50%;
}
section{
    display: flex;
    justify-content: center;
}
.light-text{
    font-weight: 200;
}
b{
    font-family: 'interDisplay', sans-serif;
    font-weight: 900;
}